@import url(/fonts/fonts.css);

body {
    color: #212529;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Roboto", system-ui;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container {
    max-width: 1376px;
    padding: 0 32px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header {

    .container {
        padding-top: 12px;
    }

    // .header__logo-link

    &__logo-link {
        color: #212529;
        font-size: 18px;
        text-decoration: none;
    }

    &__logo-link:hover {
        color: #DDD7C0;
    }

    &__logo-link:active {
        color: #CBC6B2;
    }

    &__logo-link:first-child {
        grid-column: 1/9;
    }

    &__logo-link:last-child {
        grid-column: 11/13;

        text-align: right;
    }

}

.nav {
    grid-column: 9/11;
    // .nav__list

    &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    // .nav__list-item

    &__list-item {}

    // .nav__list-item--limk

    &__list-item--limk {
        color: #212529;
        font-size: 18px;
        text-decoration: none;
    }

    &__list-item--limk:hover {
        color: #DDD7C0;
    }

    &__list-item--limk:active {
        color: #CBC6B2;
    }
}